<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env bash
[[ -f "${TM_SUPPORT_PATH}/lib/bash_init.sh" ]] &amp;&amp; . "${TM_SUPPORT_PATH}/lib/bash_init.sh"

ruby -r "$TM_SUPPORT_PATH/lib/shelltokenize.rb" &lt;&lt;END
	svk = ENV['TM_SVK'] || "svk"
	puts %x{#{svk} add #{TextMate.selected_paths_for_shell}}
END</string>
	<key>input</key>
	<string>none</string>
	<key>inputFormat</key>
	<string>text</string>
	<key>keyEquivalent</key>
	<string>^~A</string>
	<key>name</key>
	<string>Add to Repository</string>
	<key>outputCaret</key>
	<string>afterOutput</string>
	<key>outputFormat</key>
	<string>text</string>
	<key>outputLocation</key>
	<string>toolTip</string>
	<key>requiredCommands</key>
	<array>
		<dict>
			<key>command</key>
			<string>svk</string>
			<key>locations</key>
			<array>
				<string>/opt/local/bin/svk</string>
				<string>/usr/local/bin/svk</string>
			</array>
			<key>variable</key>
			<string>TM_SVK</string>
		</dict>
	</array>
	<key>uuid</key>
	<string>F41366B2-C373-11D9-8A81-000A95BCAFA8</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
