<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env bash
[[ -f "${TM_SUPPORT_PATH}/lib/bash_init.sh" ]] &amp;&amp; . "${TM_SUPPORT_PATH}/lib/bash_init.sh"

"${TM_SVK:=svk}" blame "$TM_FILEPATH" \
2&gt;&amp;1| ruby -- "${TM_BUNDLE_SUPPORT}/format_blame.rb"</string>
	<key>input</key>
	<string>none</string>
	<key>inputFormat</key>
	<string>text</string>
	<key>keyEquivalent</key>
	<string>^~A</string>
	<key>name</key>
	<string>Blame</string>
	<key>outputCaret</key>
	<string>afterOutput</string>
	<key>outputFormat</key>
	<string>html</string>
	<key>outputLocation</key>
	<string>newWindow</string>
	<key>requiredCommands</key>
	<array>
		<dict>
			<key>command</key>
			<string>svk</string>
			<key>locations</key>
			<array>
				<string>/opt/local/bin/svk</string>
				<string>/usr/local/bin/svk</string>
			</array>
			<key>variable</key>
			<string>TM_SVK</string>
		</dict>
	</array>
	<key>uuid</key>
	<string>B37F2E1A-C35F-11D9-AB2C-000A95BCAFA8</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
