<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>saveModifiedFiles</string>
	<key>command</key>
	<string>#!/usr/bin/env bash
[[ -f "${TM_SUPPORT_PATH}/lib/bash_init.sh" ]] &amp;&amp; . "${TM_SUPPORT_PATH}/lib/bash_init.sh"

CommitWindow="$TM_SUPPORT_PATH/bin/CommitWindow.app/Contents/MacOS/CommitWindow"
export CommitWindow

TM_SVK="${TM_SVK:=svk}"
export TM_SVK

/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/bin/ruby -- "${TM_BUNDLE_SUPPORT}/svk_commit.rb"
</string>
	<key>input</key>
	<string>none</string>
	<key>inputFormat</key>
	<string>text</string>
	<key>keyEquivalent</key>
	<string>^~A</string>
	<key>name</key>
	<string>Commit</string>
	<key>outputCaret</key>
	<string>afterOutput</string>
	<key>outputFormat</key>
	<string>html</string>
	<key>outputLocation</key>
	<string>newWindow</string>
	<key>requiredCommands</key>
	<array>
		<dict>
			<key>command</key>
			<string>svk</string>
			<key>locations</key>
			<array>
				<string>/opt/local/bin/svk</string>
				<string>/usr/local/bin/svk</string>
			</array>
			<key>variable</key>
			<string>TM_SVK</string>
		</dict>
	</array>
	<key>uuid</key>
	<string>C03C7374-C371-11D9-AAA6-000A95BCAFA8</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
